__pycache__/database.cpython-39.pyc
__pycache__/mypfuncs.cpython-39.pyc
mail.html
rubbish.txt
__pycache__/database.cpython-39.pyc.139755096664656
Password-Manager/test.py
Password-Manager/__pycache__/database.cpython-39.pyc
Password-Manager/__pycache__/mypfuncs.cpython-39.pyc
Password-Manager/__pycache__/random.cpython-39.pyc
Password-Manager/t.py
Password-Manager/p.py
Password-Manager/__pycache__/main.cpython-39.pyc
